body {
  font-size: verdana;
  background-color: black;
  text-align: center;  
}

h1 {
    font-size: 50px;
    color: white;
    font-weight: normal;

}

h2 {
    font-size: 42px;
    color: white;
    font-weight: normal;

}

h4 {
    font-size: 26px;
    color: white;
    font-weight: normal;

}

.sub {
    font-size: 16px;
    color:rgb(156, 211, 193);
}